<div class="pd-20 card-box mb-30">
    <div class="clearfix">
        <div class="pull-left">
            <h4 class="text-blue h4">Ajouter Etablissement</h4>
        </div>
    
    </div>
    <form (ngSubmit)="createEtablissement()" #etablissementForm="ngForm" novalidate>
        <div class="form-group row">
            <label class="col-sm-12 col-md-2 col-form-label">Nom</label>
            <div class="col-sm-12 col-md-10">
                <input type="text" class="form-control" id="nom" name="nom" placeholder="UCA" [(ngModel)]="etablissement.nom" required>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-12 col-md-2 col-form-label">Ville</label>
            <div class="col-sm-12 col-md-10">
                <input class="form-control" placeholder="Marrakech" type="text" name="ville" id="ville" [(ngModel)]="etablissement.ville" required>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-12 col-md-2 col-form-label">Adresse</label>
            <div class="col-sm-12 col-md-10">
                <input class="form-control" placeholder="Marrakech massira1" type="text" name="adresse" id="adresse" [(ngModel)]="etablissement.adresse" required>
            </div>
        </div>

        <button class="btn btn-primary" type="submit">Add</button>

    </form>
</div>