<div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nom</th>
            <th>Ville</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let etablissement of etablissements">
            <td>{{ etablissement.id }}</td>
            <td>{{ etablissement.nom }}</td>
            <td>{{ etablissement.ville }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
