<div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nom</th>
            <th>Prenom</th>
            <th scope="col">Email</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let membre of membres">
            <td>{{ membre.id }}</td>
            <td>{{ membre.nom }}</td>
            <td>{{ membre.prenom }}</td>
            <td><a href="mailto:{{ membre.email }}">{{ membre.email }}</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
