


	<div class="header">
		<div class="header-left">
			<div class="menu-icon dw dw-menu"></div>
			<div class="search-toggle-icon dw dw-search2" data-toggle="header_search"></div>
			<div class="header-search">
				<form>
					<div class="form-group mb-0">
						<i class="dw dw-search2 search-icon"></i>
						<input type="text" class="form-control search-input" placeholder="Search Here">
						<div class="dropdown">
							<a class="dropdown-toggle no-arrow" href="#" role="button" data-toggle="dropdown">
								<i class="ion-arrow-down-c"></i>
							</a>
							<div class="dropdown-menu dropdown-menu-right">
								<div class="form-group row">
									<label class="col-sm-12 col-md-2 col-form-label">From</label>
									<div class="col-sm-12 col-md-10">
										<input class="form-control form-control-sm form-control-line" type="text">
									</div>
								</div>
								<div class="form-group row">
									<label class="col-sm-12 col-md-2 col-form-label">To</label>
									<div class="col-sm-12 col-md-10">
										<input class="form-control form-control-sm form-control-line" type="text">
									</div>
								</div>
								<div class="form-group row">
									<label class="col-sm-12 col-md-2 col-form-label">Subject</label>
									<div class="col-sm-12 col-md-10">
										<input class="form-control form-control-sm form-control-line" type="text">
									</div>
								</div>
								<div class="text-right">
									<button class="btn btn-primary">Search</button>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="header-right">
			<div class="dashboard-setting user-notification">
				<div class="dropdown">
					<a class="dropdown-toggle no-arrow" href="javascript:;" data-toggle="right-sidebar">
						<i class="dw dw-settings2"></i>
					</a>
				</div>
			</div>
			<div class="user-notification">
				<div class="dropdown">
					<a class="dropdown-toggle no-arrow" href="#" role="button" data-toggle="dropdown">
						<i class="icon-copy dw dw-notification"></i>
						<span class="badge notification-active"></span>
					</a>
					<div class="dropdown-menu dropdown-menu-right">
						<div class="notification-list mx-h-350 custom-scroll">
							<ul>
								<li>
									<a href="#">
										<img src="assets/images/img.jpg" alt=""/>
										<h3>John Doe</h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed...</p>
									</a>
								</li>
								<li>
									<a href="#">
										
										<h3>Lea R. Frith</h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed...</p>
									</a>
								</li>
								<li>
									<a href="#">
										<img src="assets/images/photo2.jpg" alt="">
										<h3>Erik L. Richards</h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed...</p>
									</a>
								</li>
								<li>
									<a href="#">
										<img src="assets/images/photo3.jpg" alt="">
										<h3>John Doe</h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed...</p>
									</a>
								</li>
								<li>
									<a href="#">
										<img src="assets/images/photo4.jpg" alt="">
										<h3>Renee I. Hansen</h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed...</p>
									</a>
								</li>
								<li>
									<a href="#">
										<img src="assets/images/img.jpg" alt="">
										<h3>Vicki M. Coleman</h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed...</p>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="user-info-dropdown">
				<div class="dropdown">
					<a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown">
						<span class="user-name" *ngIf="authAdmin">Bonjour, {{authAdmin.nom}}</span>
						<span class="user-icon" style="box-shadow: 0;">
							<img src="assets/images/photo1.jpg" alt="">
						</span>
					</a>
					<div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
						<a class="dropdown-item" href="profile.html"><i class="dw dw-user1"></i> Profile</a>
						<a class="dropdown-item" href="profile.html"><i class="dw dw-settings2"></i> Setting</a>
						<a class="dropdown-item" href="faq.html"><i class="dw dw-help"></i> Help</a>
						<a class="dropdown-item" href="login.html"><i class="dw dw-logout"></i> Log Out</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="right-sidebar">
		<div class="sidebar-title">
			<h3 class="weight-600 font-16 text-blue">
				Layout Settings
				<span class="btn-block font-weight-400 font-12">User Interface Settings</span>
			</h3>
			<div class="close-sidebar" data-toggle="right-sidebar-close">
				<i class="icon-copy ion-close-round"></i>
			</div>
		</div>
		<div class="right-sidebar-body custom-scroll">
			<div class="right-sidebar-body-content">
				<h4 class="weight-600 font-18 pb-10">Header Background</h4>
				<div class="sidebar-btn-group pb-30 mb-10">
					<a href="javascript:void(0);" class="btn btn-outline-primary header-white active">White</a>
					<a href="javascript:void(0);" class="btn btn-outline-primary header-dark">Dark</a>
				</div>

				<h4 class="weight-600 font-18 pb-10">Sidebar Background</h4>
				<div class="sidebar-btn-group pb-30 mb-10">
					<a href="javascript:void(0);" class="btn btn-outline-primary sidebar-light ">White</a>
					<a href="javascript:void(0);" class="btn btn-outline-primary sidebar-dark active">Dark</a>
				</div>

				<h4 class="weight-600 font-18 pb-10">Menu Dropdown Icon</h4>
				<div class="sidebar-radio-group pb-10 mb-10">
					<div class="custom-control custom-radio custom-control-inline">
						<input type="radio" id="sidebaricon-1" name="menu-dropdown-icon" class="custom-control-input" value="icon-style-1" checked="">
						<label class="custom-control-label" for="sidebaricon-1"><i class="fa fa-angle-down"></i></label>
					</div>
					<div class="custom-control custom-radio custom-control-inline">
						<input type="radio" id="sidebaricon-2" name="menu-dropdown-icon" class="custom-control-input" value="icon-style-2">
						<label class="custom-control-label" for="sidebaricon-2"><i class="ion-plus-round"></i></label>
					</div>
					<div class="custom-control custom-radio custom-control-inline">
						<input type="radio" id="sidebaricon-3" name="menu-dropdown-icon" class="custom-control-input" value="icon-style-3">
						<label class="custom-control-label" for="sidebaricon-3"><i class="fa fa-angle-double-right"></i></label>
					</div>
				</div>

				<h4 class="weight-600 font-18 pb-10">Menu List Icon</h4>
				<div class="sidebar-radio-group pb-30 mb-10">
					<div class="custom-control custom-radio custom-control-inline">
						<input type="radio" id="sidebariconlist-1" name="menu-list-icon" class="custom-control-input" value="icon-list-style-1" checked="">
						<label class="custom-control-label" for="sidebariconlist-1"><i class="ion-minus-round"></i></label>
					</div>
					<div class="custom-control custom-radio custom-control-inline">
						<input type="radio" id="sidebariconlist-2" name="menu-list-icon" class="custom-control-input" value="icon-list-style-2">
						<label class="custom-control-label" for="sidebariconlist-2"><i class="fa fa-circle-o" aria-hidden="true"></i></label>
					</div>
					<div class="custom-control custom-radio custom-control-inline">
						<input type="radio" id="sidebariconlist-3" name="menu-list-icon" class="custom-control-input" value="icon-list-style-3">
						<label class="custom-control-label" for="sidebariconlist-3"><i class="dw dw-check"></i></label>
					</div>
					<div class="custom-control custom-radio custom-control-inline">
						<input type="radio" id="sidebariconlist-4" name="menu-list-icon" class="custom-control-input" value="icon-list-style-4" checked="">
						<label class="custom-control-label" for="sidebariconlist-4"><i class="icon-copy dw dw-next-2"></i></label>
					</div>
					<div class="custom-control custom-radio custom-control-inline">
						<input type="radio" id="sidebariconlist-5" name="menu-list-icon" class="custom-control-input" value="icon-list-style-5">
						<label class="custom-control-label" for="sidebariconlist-5"><i class="dw dw-fast-forward-1"></i></label>
					</div>
					<div class="custom-control custom-radio custom-control-inline">
						<input type="radio" id="sidebariconlist-6" name="menu-list-icon" class="custom-control-input" value="icon-list-style-6">
						<label class="custom-control-label" for="sidebariconlist-6"><i class="dw dw-next"></i></label>
					</div>
				</div>

				<div class="reset-options pt-30 text-center">
					<button class="btn btn-danger" id="reset-settings">Reset Settings</button>
				</div>
			</div>
		</div>
	</div>

	<div class="left-side-bar" style="background: linear-gradient(30deg, rgb(93, 93, 164), rgb(42, 29, 68));">
		<div class="brand-logo">
			<a href="index.html">
				<img src="assets/images/deskapp-logo.svg" alt="" class="dark-logo">
				<img src="assets/images/deskapp-logo-white.svg" alt="" class="light-logo">
			</a>
			<div class="close-sidebar" data-toggle="left-sidebar-close">
				<i class="ion-close-round"></i>
			</div>
		</div>
		<div class="menu-block custom-scroll mt-5">
			<div class="sidebar-menu" >
				<ul id="accordion-menu">
					<li class="dropdown">
						<a [routerLink]="['/admin/dashboard']" class="dropdown-toggle">
							<span class="micon dw dw-house-1"></span><span class="mtext font-weight-bold">Dashboard</span>
						</a>
					</li>
					<li ngbDropdown class="dropdown">
						<a href="javascript:;" id="dropdownMenuButton" class=" dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span class="micon dw dw-school"></span><span class="mtext font-weight-bold">Etablissements</span>
						</a>
						<ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="dropdownMenuButton">
							<li><a class="dropdown-item" [routerLink]="['/listetablissement']" >Liste Etablissement</a></li>
							<li><a class="dropdown-item" [routerLink]="['/addetablissement']" >Add Etablissement</a></li>
							<li><a class="dropdown-item" [routerLink]="['/editetablissement']" >Edit Etablissement</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a [routerLink]="['/admin/dashboard/laboratoires']" class="dropdown-toggle">
							<i class="micon dw dw-search2"></i><span class="mtext font-weight-bold">Laboratoires</span>
						</a>
					</li>
					<li class="dropdown">
						<a [routerLink]="['/admin/dashboard/membres']" class="dropdown-toggle">
							<i class="micon dw dw-user1"></i><span class="mtext font-weight-bold">Membres</span>
						</a>
					</li>
				</ul>
			</div>
		</div>

		<form (ngSubmit) = "logout()" style="position: absolute;bottom: 0;background-color: rgba(167, 42, 42, 0.764);width:100%;padding:10px;
		text-align: center;color: #fff;font-weight: bold;">
				<i class="dw dw-logout"></i>
				<button type="submit" >Déconnexion</button>
		</form>
	</div>
	<div class="mobile-menu-overlay"></div>

	<div class="main-container">
		<div class="pd-ltr-20">
			<div class="row">
				<div class="col-xl-3 mb-30">
					<div class="card-box height-100-p widget-style1" style="background: linear-gradient(30deg, rgb(93, 93, 164), rgb(42, 29, 68));">
						<div class="d-flex flex-wrap align-items-center">
							<div class="progress-data">
								<div id="chart"><img src="assets/images/banner-img.png" alt=""></div>
							</div>
							<div class="widget-data text-white">
								<div class="h4 mb-0 text-white">{{eLength}}</div>
								<div class="weight-600 font-14">Etablissements</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-3 mb-30">
					<div class="card-box height-100-p widget-style1"  style="background: linear-gradient(30deg, rgb(93, 93, 164), rgb(42, 29, 68));">
						<div class="d-flex flex-wrap align-items-center">
							<div class="progress-data">
								<div id="chart2"> <img src="assets/images/banner-img.png" alt=""></div>
							</div>
							<div class="widget-data text-white">
								<div class="h4 mb-0 text-white">{{laboLength}}</div>
								<div class="weight-600 font-14">Laboratoires</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-3 mb-30">
					<div class="card-box height-100-p widget-style1" style="background: linear-gradient(30deg, rgb(93, 93, 164), rgb(42, 29, 68));">
						<div class="d-flex flex-wrap align-items-center">
							<div class="progress-data">
								<div id="chart3"><img src="assets/images/banner-img.png" alt=""></div>
							</div>
							<div class="widget-data text-white">
								<div class="h4 mb-0 text-white">{{membresLength}}</div>
								<div class="weight-600 font-14">Membres</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-3 mb-30">
					<div class="card-box height-100-p widget-style1" style="background: linear-gradient(30deg, rgb(93, 93, 164), rgb(42, 29, 68));">
						<div class="d-flex flex-wrap align-items-center">
							<div class="progress-data">
								<div id="chart4"><img src="assets/images/icon-debit.png" alt=""></div>
							</div>
							<div class="widget-data text-white">
								<div class="h4 mb-0 text-white">$6060</div>
								<div class="weight-600 font-14">Worth</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xl-6 mb-30">
					<div class="card-box height-100-p pd-20 position-relative">
						<h2 class="h4 mb-20">Etablissements</h2>
						<button type="button" 
							class="btn btn-primary position-absolute" 
							data-toggle="modal" 
							data-target="#etablissementModal" 
							style="right: 20px;top: 10px;background: linear-gradient(30deg, rgb(93, 93, 164), rgb(42, 29, 68));">+</button>
						  
						  <!-- Modal -->
						  <div class="modal fade" id="etablissementModal" tabindex="-1" role="dialog" aria-labelledby="eFormModalLabel" aria-hidden="true">
							<div class="modal-dialog" role="document">
							  <div class="modal-content">
								<div class="modal-header">
								  <h5 class="modal-title" id="eFormModalLabel">Ajouter une établissement</h5>
								  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								  </button>
								</div>
								<div class="modal-body">
									<form (ngSubmit)="createEtablissement(etablissementForm)" #etablissementForm="ngForm" novalidate>
										<div class="form-group">
										  <label for="nom">Nom</label>
										  <input type="text" class="form-control" id="nom" name="nom" 
										  	[(ngModel)] ="etablissement.nom"
											placeholder="Faculté des sciences Semlalia" required>
										</div>
										<div class="form-group">
										  <label for="ville">Ville</label>
										  <input type="text" class="form-control" id="ville" name="ville" 
										  	[(ngModel)] ="etablissement.ville"
											placeholder="Marrakech" required>
										</div>
										<div class="form-group">
											<label for="adresse">Adresse</label>
											<input type="text" class="form-control" id="adresse" name="adresse" 
												[(ngModel)] ="etablissement.adresse"
												placeholder="Bv. Prince Molay Abdellah" required>
										</div>
										<button type="submit" class="btn btn-primary">Submit</button>
									</form>
								</div>
							  </div>
							</div>
						  </div>
						<div id="chart5"></div>
						<table class="data-table table nowrap">
							<thead>
								<tr>
									<th class="font-weight-bold">Nom</th>
									<th class="font-weight-bold">Ville</th>
									<th class="datatable-nosort font-weight-bold">Action</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let etab of etablissements">
									<td>
										{{etab.nom}}
									</td>
									<td>{{etab.ville}}</td>
									<td>
										<div class="dropdown">
											<a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="#" role="button" data-toggle="dropdown">
												<i class="dw dw-more"></i>
											</a>
											<div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
												<a role="button" class="dropdown-item" href="#"
													(click)="OpenEtablissementDetailsModal(etab)"
													data-toggle="modal" 
													data-target="#eDetailsModal">
													<i class="dw dw-eye"></i>View
												</a>
												<a class="dropdown-item" (click)="deleteEtablissement(etab.id!)"><i class="dw dw-delete-3"></i> Delete</a>
											</div>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

				<div class="col-xl-6 mb-30">
					<div class="card-box height-100-p pd-20 position-relative">
						<h2 class="h4 mb-20">Laboratoires</h2>
						<button type="button" 
							class="btn btn-primary position-absolute" 
							data-toggle="modal" 
							data-target="#laboratoireModal" 
							style="right: 20px;top: 10px;background: linear-gradient(30deg, rgb(93, 93, 164), rgb(42, 29, 68));">+</button>
						  
						  <!-- Modal -->
						  <div class="modal fade" id="laboratoireModal" tabindex="-1" role="dialog" aria-labelledby="lFormModalLabel" aria-hidden="true">
							<div class="modal-dialog" role="document">
							  <div class="modal-content">
								<div class="modal-header">
								  <h5 class="modal-title" id="lFormModalLabel">Ajouter un laboratoire</h5>
								  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								  </button>
								</div>
								<div class="modal-body">
									<form (ngSubmit)="createLaboratoire(laboratoireForm)" #laboratoireForm="ngForm" novalidate>
										<div class="form-group">
											<label for="nom">Nom</label>
											<input type="text" class="form-control" id="nom" name="nomLabo"
												[(ngModel)] ="laboratoire.nomLabo" placeholder="Nom de laboratoire">
										</div>
										<div class="form-group">
											<label for="id">Etablissement</label>
											<select class="form-control" id="etablissement" name="id" 
												[(ngModel)] ="laboratoire.etablissement.id" required>
												<option *ngFor="let etabliss of etablissements" [value]="etabliss.id">{{etabliss.nom}}</option>
											</select>
										</div>
										<button type="submit" class="btn btn-primary">Submit</button>
									  </form>
								</div>
							  </div>
							</div>
						  </div>
						<div id="chart6"></div>
						<table class="data-table table nowrap">
							<thead>
								<tr>
									
									<th class="font-weight-bold">Laboratoire</th>
									<th class="font-weight-bold">Etablissement</th>
									<th class="datatable-nosort font-weight-bold">Action</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let labo of laboratoires">
									
									<td>
										{{labo.nomLabo}}
									</td>
									<td>{{labo.etablissement.nom}}</td>
									
									<td>
										<div class="dropdown">
											<a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="#" role="button" data-toggle="dropdown">
												<i class="dw dw-more"></i>
											</a>
											<div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
												<a role="button" class="dropdown-item" href="#"
													(click)="OpenLaboratoireDetailsModal(labo)"
													data-toggle="modal" 
													data-target="#labDetailsModal">
													<i class="dw dw-eye"></i>View
												</a>
												<a class="dropdown-item" (click)="deleteLaboratoire(labo.id!)"><i class="dw dw-delete-3"></i> Delete</a>
											</div>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="card-box mb-30 position-relative">
				<h2 class="h4 pd-20">Membres</h2>
				
				<button type="button" 
							class="btn btn-primary position-absolute" 
							data-toggle="modal" 
							data-target="#membreFormModal" 
							style="right: 20px;top: 10px;background: linear-gradient(30deg, rgb(93, 93, 164), rgb(42, 29, 68));">Ajouter +</button>
						  
						  <!-- Modal -->
						  <div class="modal fade" id="membreFormModal" tabindex="-1" role="dialog" aria-labelledby="membreFormModalLabel" aria-hidden="true">
							<div class="modal-dialog" role="document">
							  <div class="modal-content">
								<div class="modal-header">
								  <h5 class="modal-title" id="membreFormModalLabel">Ajouter un membre</h5>
								  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								  </button>
								</div>
								<div class="modal-body col-sm-12">
									<form (ngSubmit)="createMembre(membreForm)" #membreForm="ngForm" novalidate>
										<div class="form-group">
										  <label for="nom">Nom</label>
										  <input type="text" class="form-control" id="nom" name="nom" placeholder="Nom de membre"
										  	[(ngModel)] ="membre.nom" required>
										</div>
										<div class="form-group">
											<label for="prenom">Prénom</label>
											<input type="text" class="form-control" id="prenom" name="prenom" placeholder="Prénom de membre"
												[(ngModel)] ="membre.prenom" required>
										</div>
										<div class="form-group">
											<label for="email">Email</label>
											<input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Adresse email"
											[(ngModel)] ="membre.email" required="">
										</div>
										<div class="form-group">
											<label for="password">Mot de passe</label>
											<input type="password" class="form-control" id="password" name="password" placeholder="Mot de passe"
												[(ngModel)] ="membre.password" required="">
										</div>
										<div class="form-group">
											<input type="hidden" class="form-control" id="role" name="role"
												[(ngModel)] ="membre.role" [value]="null">
										</div>
										<div class="form-group">
											<label for="labo">Laboratoire</label>
											<select class="form-control" id="labo" name="laboratoire" [(ngModel)] ="membre.laboratoire.id" required>
												<option *ngFor="let lab of laboratoires" [value]="lab.id">{{lab.nomLabo}}</option>
											</select>
										</div>
										<button type="submit" class="btn btn-primary">Ajouter</button>
									  </form>
								</div>
							  </div>
							</div>
						  </div>
				<table class="data-table table nowrap">
					<thead>
						<tr>
							<th class="font-weight-bold">Nom & Prénom</th>
							<th class="font-weight-bold">Email</th>
							<th class="font-weight-bold">Laboratoire</th>
							<th class="font-weight-bold">Profile</th>
							<th class="datatable-nosort font-weight-bold">Action</th>
						</tr>
					</thead>
					<tbody>
						<tr  *ngFor="let membre of membres">
							<td>
								{{membre.nom}} {{membre.prenom}}
							</td>
							<td>{{membre.email}}</td>
							<td>
								<span *ngIf="membre.laboratoire!==null;else nullBlock">{{membre.laboratoire!.nomLabo}}</span>
								<ng-template #nullBlock>
									<span>--</span>
								</ng-template>
							</td>
							<td>
								<span *ngIf="!membre.director else dirBlock" style="background-color: rgba(73, 106, 225, 0.53);color: #fff;padding: 5px; ">Membre</span>
								<ng-template #dirBlock>
									<span style="background-color: rgba(225, 73, 73, 0.53);color: #fff;padding: 5px;">Directeur</span>
								</ng-template>
							</td>
							
							<td>
								<div class="dropdown">
									<a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="#" role="button" data-toggle="dropdown">
										<i class="dw dw-more"></i>
									</a>
									<div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
										<a role="button" class="dropdown-item" href="#"
											(click)="OpenMembreDetailsModal(membre)"
											data-toggle="modal" 
											data-target="#membreDetailsModal">
											<i class="dw dw-eye"></i>View
										</a>
										<a class="dropdown-item" (click)="deleteMembre(membre.id!)"><i class="dw dw-delete-3"></i> Delete</a>
									</div>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="footer-wrap pd-20 mb-20 card-box">
				DeskApp - Bootstrap 4 Admin Template By <a href="https://github.com/dropways" target="_blank">Ankit Hingarajiya</a>
			</div>
		</div>
	</div>
	<!-- js -->
	<script src="../../../vendors/scripts/core.js"></script>
	<script src="../../../vendors/scripts/script.min.js"></script>
	<script src="../../../vendors/scripts/process.js"></script>
	<script src="../../../vendors/scripts/layout-settings.js"></script>
	<script src="../../../srctemplate/plugins/apexcharts/apexcharts.min.js"></script>
	<script src="../../../srctemplate/plugins/datatables/js/jquery.dataTables.min.js"></script>
	<script src="../../../srctemplate/plugins/datatables/js/dataTables.bootstrap4.min.js"></script>
	<script src="../../../srctemplate/plugins/datatables/js/dataTables.responsive.min.js"></script>
	<script src="../../../srctemplate/plugins/datatables/js/responsive.bootstrap4.min.js"></script>
	<script src="../../../vendors/scripts/dashboard.js"></script>


	<!-- Modal Etablissement Details-->
	<div *ngIf="SelectedEtablissement && SelectedEtablissement.nom" class="modal fade" id="eDetailsModal" tabindex="0" role="dialog" aria-labelledby="eModalLabel" aria-hidden="true">
		<div class="modal-dialog col-sm-12" role="document">
		<div class="modal-content">
			<div class="modal-header">
			<h5 class="modal-title" id="eModalLabel">Details d'établissement</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			</div>
			<div class="modal-body">
				<h5>{{SelectedEtablissement.nom}}</h5>
				<strong>{{SelectedEtablissement.adresse}}</strong>
			</div>
		</div>
		</div>
	</div>

	<!-- Modal Laboratoire Details-->
	<div *ngIf="SelectedLaboratoire && SelectedLaboratoire.nomLabo" class="modal fade" id="labDetailsModal" tabindex="0" role="dialog" aria-labelledby="labModalLabel" aria-hidden="true">
		<div class="modal-dialog col-sm-12" >
		<div class="modal-content">
			<div class="modal-header">
			<h5 class="modal-title" id="labModalLabel">Details de laboratoire</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			</div>
			<div class="modal-body">
				<h5>{{SelectedLaboratoire.nomLabo}}</h5>
			</div>
		</div>
		</div>
	</div>

	<!-- Modal Membre Details-->
	<div *ngIf="SelectedMembre && SelectedMembre.nom" class="modal fade" id="membreDetailsModal" tabindex="-1" role="dialog" aria-labelledby="membreModalLabel" aria-hidden="true">
		<div class="modal-dialog col-sm-12" role="document">
		<div class="modal-content">
			<div class="modal-header">
			<h5 class="modal-title" id="membreModalLabel">Details de Membre</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			</div>
			<div class="modal-body">
				<h5>{{SelectedMembre.nom}} {{SelectedMembre.prenom}}</h5>
				<a href="mailto:{{SelectedMembre.email}}">{{SelectedMembre.email}}</a><br>
				<span *ngIf="!SelectedMembre.director else dirBlock" style="background-color: rgba(73, 106, 225, 0.53);color: #fff;padding: 5px; ">Membre</span>
				<ng-template #dirBlock>
					<span style="background-color: rgba(225, 73, 73, 0.53);color: #fff;padding: 5px;">Directeur</span>
				</ng-template>

				<form (ngSubmit) = "setMembreAsDirector(SelectedMembre.id!)">
					<button type="submit">Set As Director</button>
				</form>
			</div>
		</div>
		</div>
	</div>